*, *::before, *::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font: 16px sans-serif;
}

body {
	background-color: #F0F0F0;
	min-width: 300px;
	min-height: 300px;
}

.page-wrapper {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.tic-tac-toe {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 50%;
	height: 80%;
	border: 2px solid #FFFFF0;
	border-radius: 5px;
	background: url("img/game-bg.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.game-field {
	border: 2px solid #535353;
}

.game-field__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.game-field__cell {
	width: 5em;
	height: 5em;
	text-align: center;
	border: 2px solid #535353;
	-webkit-transition: background-size 0.5s;
	-o-transition: background-size 0.5s;
	transition: background-size 0.5s;
	-webkit-background-size: 0%;
	background-size: 0%;
}

.game-status {
	font-size: 36px;
	color: #535353;
}

.free_cell {
	cursor: pointer;
	-webkit-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.free_cell:hover {
	background-color: #CECECB;
}

.X_cell {
	background: url("img/X-bg.svg") no-repeat center;
	-webkit-background-size: 60%;
	background-size: 60%;	
}

.O_cell {
	background: url("img/O-bg.svg") no-repeat center;
	-webkit-background-size: 70%;
	background-size: 70%;	
}

@media screen and (max-width: 876px) {
	.tic-tac-toe {
		width: 100%;
		height: 100%;
	}
}